Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

fix(date): prevent infinite focus loop between datepickers
  package-lock.json
  package.json
  projects/quang/components/date/date.browser.spec.ts
  projects/quang/components/date/date.component.ts
  vitest.browser.config.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.15-8
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(date): add range selection and repeatable event date functionality
  projects/playground/src/app/pages/components-test-pages/date-test/date-test.component.html
  projects/playground/src/app/pages/components-test-pages/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.html
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.15
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(publish): update build-publish script to use npm-publish.js for publishing
  package.json
  scripts/npm-publish.js
Due: prettier --write

fix: update package dependencies and adjust snapshot tests for autocomplete component
  package-lock.json
  package.json
  projects/quang/components/autocomplete/__snapshots__/autocomplete.component.spec.ts.snap
Due: prettier --write

fix: remove allowSignalWrites option from calendar setup
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 20.5.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(deps): update @chevrotain packages to version 11.1.0
  package-lock.json
Due: prettier --write

feat: add QuangRadioGroupComponent with standard and template-based options
  .github/copilot-instructions.md
  .github/prompts/plan-quangRadioGroup.prompt.md
  projects/playground/src/app/core/menu/menuList.ts
  projects/playground/src/app/pages/components-test-pages/components-test-page.component.html
  projects/playground/src/app/pages/components-test-pages/components-test-page.component.ts
  projects/playground/src/app/pages/components-test-pages/components-test-pages.routes.ts
  projects/playground/src/app/pages/components-test-pages/radio-group-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/radio-group-test/examples/radio-group-standard-example.component.ts
  projects/playground/src/app/pages/components-test-pages/radio-group-test/examples/radio-group-template-example.component.ts
  projects/playground/src/app/pages/components-test-pages/radio-group-test/radio-group-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/radio-group-test/radio-group-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/radio-group-test/radio-group-showcase.component.ts
  projects/playground/src/app/pages/components-test-pages/radio-group-test/radio-group-test.component.html
  projects/playground/src/app/pages/components-test-pages/radio-group-test/radio-group-test.component.scss
  projects/playground/src/app/pages/components-test-pages/radio-group-test/radio-group-test.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
  projects/quang/components/README.md
  projects/quang/components/radio-group/README.md
  projects/quang/components/radio-group/index.ts
  projects/quang/components/radio-group/ng-package.json
  projects/quang/components/radio-group/radio-group.component.html
  projects/quang/components/radio-group/radio-group.component.scss
  projects/quang/components/radio-group/radio-group.component.spec.ts
  projects/quang/components/radio-group/radio-group.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: integrate PrismJS for code highlighting and add light/dark themes
  package-lock.json
  package.json
  projects/playground/src/app/shared/components/example-viewer/example-viewer.component.html
  projects/playground/src/app/shared/components/example-viewer/example-viewer.component.scss
  projects/playground/src/app/shared/components/example-viewer/example-viewer.component.ts
  projects/playground/src/sass/styles-dark.scss
  projects/playground/src/sass/styles-light.scss
  projects/playground/src/sass/vendors/_prism-theme-dark.scss
  projects/playground/src/sass/vendors/_prism-theme-light.scss
  projects/playground/src/sass/vendors/_prism.scss
Due: ng-lint-staged lint --fix --, prettier --write

fix: specify generic type for optTpl in TestHostComponent
  projects/quang/components/radio-group/radio-group.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.16-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat: align radio group field set legend to standard labels
  projects/quang/components/radio-group/radio-group.component.scss
Due: prettier --write

build(prerelease): version 19.3.16-1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat: organize test pages
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/test/autocomplete-test.component.scss
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-pages/components-test-page.component.html
  projects/playground/src/app/pages/components-test-pages/components-test-page.component.ts
  projects/playground/src/app/pages/components-test-pages/components-test-pages.routes.ts
  projects/playground/src/app/pages/components-test-pages/radio-group-test/radio-group-test.component.scss
  projects/playground/src/app/pages/components-test-pages/radio-group-test/showcase/radio-group-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/radio-group-test/showcase/radio-group-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/radio-group-test/showcase/radio-group-showcase.component.ts
  projects/playground/src/app/pages/components-test-pages/radio-group-test/test/radio-group-test.component.html
  projects/playground/src/app/pages/components-test-pages/radio-group-test/test/radio-group-test.component.scss
  projects/playground/src/app/pages/components-test-pages/radio-group-test/test/radio-group-test.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: field error status is now based on touched/dirty instead of pristine and is updated more often
  projects/quang/components/autocomplete/__snapshots__/autocomplete.component.spec.ts.snap
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/checkbox/checkbox.component.spec.ts
  projects/quang/components/date/date.component.spec.ts
  projects/quang/components/date/date.component.ts
  projects/quang/components/input/input.component.spec.ts
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: vitest configs
  tsconfig.json
  vite.config.ts
  vitest.browser.config.ts
  vitest.config.ts
Due: ng-lint-staged lint --fix --, prettier --write

refactor(playground): split form into showcase routes
  projects/playground/src/app/app.routes.ts
  projects/playground/src/app/core/menu/menuList.ts
  projects/playground/src/app/pages/form/examples/form-live-example.component.ts
  projects/playground/src/app/pages/form/examples/index.ts
  projects/playground/src/app/pages/form/form.routes.ts
  projects/playground/src/app/pages/form/showcase/form-example-showcase/form-example-showcase.component.html
  projects/playground/src/app/pages/form/showcase/form-example-showcase/form-example-showcase.component.scss
  projects/playground/src/app/pages/form/showcase/form-example-showcase/form-example-showcase.component.ts
  projects/playground/src/app/pages/form/showcase/form-validators-showcase/form-validators-showcase.component.html
  projects/playground/src/app/pages/form/showcase/form-validators-showcase/form-validators-showcase.component.scss
  projects/playground/src/app/pages/form/showcase/form-validators-showcase/form-validators-showcase.component.ts
  projects/playground/src/app/pages/form/test/form-test/form-test.component.html
  projects/playground/src/app/pages/form/test/form-test/form-test.component.scss
  projects/playground/src/app/pages/form/test/form-test/form-test.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
Due: ng-lint-staged lint --fix --, prettier --write

style(playground): centralize showcase layout
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/radio-group-test/showcase/radio-group-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/radio-group-test/showcase/radio-group-showcase.component.scss
  projects/playground/src/sass/components/_showcase.scss
  projects/playground/src/sass/components/index.scss
Due: ng-lint-staged lint --fix --, prettier --write

feat(playground): add toggle showcase page
  projects/playground/src/app/pages/components-test-pages/components-test-pages.routes.ts
  projects/playground/src/app/pages/components-test-pages/toggle-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/toggle-test/examples/toggle-basic-example.component.ts
  projects/playground/src/app/pages/components-test-pages/toggle-test/examples/toggle-interactive-example.component.ts
  projects/playground/src/app/pages/components-test-pages/toggle-test/showcase/toggle-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/toggle-test/showcase/toggle-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/toggle-test/showcase/toggle-showcase.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(shared): detect requiredTrue as required
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(autocomplete): show validation feedback text
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(input): ensure feedback is visible
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.scss
Due: ng-lint-staged lint --fix --, prettier --write

fix(checkbox): align label layouts and required asterisk
  projects/quang/components/checkbox/checkbox.component.html
  projects/quang/components/checkbox/checkbox.component.scss
  projects/quang/components/checkbox/checkbox.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

test(date): fix browser focus test selector
  projects/quang/components/date/date.browser.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs: update playground page conventions
  .github/copilot-instructions.md
Due: none

docs: add changelog for project updates and structure
  CHANGELOG.md
Due: none

feat(select): remove old select test component and add new examples
  projects/playground/src/app/pages/components-test-pages/components-test-pages.routes.ts
  projects/playground/src/app/pages/components-test-pages/select-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/select-test/examples/select-dynamic-options-example.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/examples/select-multiple-example.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/examples/select-single-example.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/showcase/select-showcase/select-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/select-test/showcase/select-showcase/select-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/select-test/showcase/select-showcase/select-showcase.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/test/select-test.component.html
  projects/playground/src/app/pages/components-test-pages/select-test/test/select-test.component.scss
  projects/playground/src/app/pages/components-test-pages/select-test/test/select-test.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
Due: ng-lint-staged lint --fix --, prettier --write

feat(select,autocomplete): support option renderer templates
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-template-example.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/select-test/examples/select-template-example.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/showcase/select-showcase/select-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/select-test/showcase/select-showcase/select-showcase.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
  projects/quang/components/autocomplete/README-it.md
  projects/quang/components/autocomplete/README.md
  projects/quang/components/select/README-it.md
  projects/quang/components/select/README.md
  projects/quang/components/shared/option-list/option-list.component.html
  projects/quang/components/shared/option-list/option-list.component.spec.ts
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(changelog): include option templates in 19.4.0
  CHANGELOG.md
Due: none

feat(autocomplete, select): allow using template to render options, scrollbar now always visible on macos
  projects/playground/src/app/core/menu/menu.component.html
  projects/playground/src/app/core/menu/menu.component.scss
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-template-example.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/examples/select-single-example.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/examples/select-template-example.component.ts
  projects/quang/components/autocomplete/__snapshots__/autocomplete.component.spec.ts.snap
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/select/select.component.html
  projects/quang/components/select/select.component.scss
  projects/quang/components/select/select.component.spec.ts
  projects/quang/components/select/select.component.ts
  projects/quang/components/shared/option-list/option-list.component.scss
Due: ng-lint-staged lint --fix --, prettier --write

feat(datepicker): update focus behavior and add keyboard support for opening calendar
  projects/quang/components/date/date.browser.spec.ts
  projects/quang/components/date/date.component.html
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.16-2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(changelog): update entries for date picker keyboard support and scrollbar visibility
  CHANGELOG.md
Due: none

test(date): stabilize focus handling and remove any locale casts
  projects/quang/components/autocomplete/__snapshots__/autocomplete.component.spec.ts.snap
  projects/quang/components/date/date.browser.spec.ts
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

chore(package-lock): update @chevrotain packages to version 11.1.0
  package-lock.json
Due: prettier --write

build(prerelease): version 20.5.2-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write
