Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

test(date): aggiorna gli snapshot alla versione Angular 22
  projects/quang/components/date/__snapshots__/date.component.spec.ts.snap
Due: none

test(option-list): usa signal nell'host per il change detection zoneless
  projects/quang/components/shared/option-list/option-list.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

test(select): usa signal nell'host per il change detection zoneless
  projects/quang/components/select/select.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

test(tooltip): usa signal nell'host per il change detection zoneless
  projects/quang/overlay/tooltip/tooltip.directive.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

test(radio-group): usa signal nell'host per il change detection zoneless
  projects/quang/components/radio-group/radio-group.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

test(tabs): usa signal nell'host per il change detection zoneless
  projects/quang/components/tabs/tabs.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

test(autocomplete): usa signal negli host per il change detection zoneless
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

build: riallinea package-lock.json per npm 10
  package-lock.json
Due: prettier --write

docs(indice, osservazioni): tre voci documentate a 6252424, due ticket aperti e tre osservazioni nuove
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

docs(date): scheda del datepicker, dell'orario e dell'intervallo
  docs/automatica/features/date.md
Due: none

docs(input): scheda del campo di testo generico
  docs/automatica/features/input.md
Due: none

docs(checkbox): scheda della casella di spunta e del toggle
  docs/automatica/features/checkbox.md
Due: none

QUANG-286 fix(autocomplete): register the chip keydown listener only once
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(osservazioni): QUANG-293 e QUANG-294 sulle due righe in attesa
  docs/automatica/osservazioni.md
Due: none

docs(paginator): scheda della voce e quattro osservazioni
  docs/automatica/features/paginator.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

docs(radio-group): scheda della voce
  docs/automatica/features/radio-group.md
  docs/automatica/indice-feature.md
Due: none

docs(select): scheda della voce e tre osservazioni
  docs/automatica/features/select.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

QUANG-289 registra QUANG_CONFIG fra i provider di provideQuangConfig
  projects/quang/index.spec.ts
  projects/quang/index.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(osservazioni): QUANG-297 e QUANG-298 per due osservazioni in attesa
  docs/automatica/osservazioni.md
Due: none

docs(table): scheda della voce e tre osservazioni sul componente
  docs/automatica/features/table.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

docs(tabs): scheda della voce e due osservazioni sul template
  docs/automatica/features/tabs.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

docs(wysiwyg): scheda della voce e due osservazioni sulla validazione e sugli errori
  docs/automatica/features/wysiwyg.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

QUANG-293 invoca sempre il callback onShow passato da datepickerOptions
  projects/quang/components/date/date.component.spec.ts
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

QUANG-294 nome accessibile del bottone mostra/nascondi password in quang-input
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(osservazioni): QUANG-301 e QUANG-302 per due osservazioni in attesa
  docs/automatica/osservazioni.md
Due: none

docs(conversione-e-download): scheda della voce e tre osservazioni sull'area
  docs/automatica/features/conversione-e-download.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

docs(osservazione-ridimensionamento): scheda della voce e tre osservazioni sul servizio
  docs/automatica/features/osservazione-ridimensionamento.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

docs(form-e-validatori): scheda della voce e sei osservazioni sui validatori
  docs/automatica/features/form-e-validatori.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

QUANG-297 converte in numero il valore dell'input con componentType="number"
  projects/quang/components/input/input.component.spec.ts
  projects/quang/components/input/input.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(osservazioni): chiavi QUANG-305 e QUANG-306 sulle due righe in attesa
  docs/automatica/osservazioni.md
Due: none

docs(base-componenti): scheda della voce condivisa e quattro osservazioni
  docs/automatica/condivisi/base-componenti.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

docs(utility-interceptor): scheda della voce condivisa e due osservazioni
  docs/automatica/condivisi/utility-interceptor.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

docs(base-overlay): scheda della voce condivisa e una osservazione
  docs/automatica/condivisi/base-overlay.md
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

QUANG-306 select: il blur risale alla classe base anche in modo multiple
  projects/quang/components/select/select.component.spec.ts
  projects/quang/components/select/select.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(paginator): QUANG-298 la pagina mostrata legge la stessa sorgente dei bottoni
  projects/quang/components/paginator/paginator.component.html
  projects/quang/components/paginator/paginator.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

QUANG-302 allinea la label della dimensione pagina all'id reso dal select
  projects/quang/components/paginator/paginator.component.html
  projects/quang/components/paginator/paginator.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(popover): scheda della feature popover
  docs/automatica/features/popover.md
Due: none

docs(osservazioni): QUANG-308 e QUANG-309, tre osservazioni nuove
  docs/automatica/osservazioni.md
Due: none

docs(modal): scheda della feature modal
  docs/automatica/features/modal.md
Due: none

docs(loader): scheda della feature loader
  docs/automatica/features/loader.md
  docs/automatica/indice-feature.md
Due: none

Path conditions:
  ng-lint-staged lint --fix --: (any of: *.ts) or (any of: *.html)
  prettier --write: (((any of: *.ts) or (any of: *.html)) or (any of: *.json)) or (any of: *.scss)
