Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

fix(option-list): enhance track identifiers to handle potential null values for improved stability
  projects/quang/components/shared/option-list/option-list.component.html
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.12
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.4.5
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-IHKSBBB2.js
  index.html
  main-CGAYFSZA.js
  main-YMN5NF6C.js
Due: ng-lint-staged lint --fix --, prettier --write

refactor(date): clean up date component and improve date handling logic
  projects/playground/src/app/pages/components-test-pages/date-test/date-test.component.html
  projects/playground/src/app/pages/components-test-pages/date-test/date-test.component.ts
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.13
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 19.3.14
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.4.6
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-3FCVAZKD.js
  chunk-IHKSBBB2.js
  index.html
  main-J5JJAZJB.js
  main-YMN5NF6C.js
Due: ng-lint-staged lint --fix --, prettier --write

fix(deps): update @ngrx/signals and angular-svg-icon to latest versions
  package-lock.json
  package.json
Due: prettier --write

feat(modal): implement return data handling in QuangModalService
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content/test-modal-content.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content/test-modal-content.component.ts
  projects/quang/overlay/modal/README-service-it.md
  projects/quang/overlay/modal/README-service.md
  projects/quang/overlay/modal/RETURN_DATA.md
  projects/quang/overlay/modal/USAGE_EXAMPLES.md
  projects/quang/overlay/modal/index.ts
  projects/quang/overlay/modal/modal-ref.ts
  projects/quang/overlay/modal/modal.service.ts
  projects/quang/overlay/modal/models/ModalInstance.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): update showModal return type and clean up modal service code
  package-lock.json
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content/test-modal-content.component.ts
  projects/quang/overlay/modal/modal.service.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): enhance QuangModalService with ID-based close functionality and update documentation
  .gitignore
  projects/quang/overlay/modal/README-service-it.md
  projects/quang/overlay/modal/README-service.md
  projects/quang/overlay/modal/RETURN_DATA.md
  projects/quang/overlay/modal/USAGE_EXAMPLES.md
  projects/quang/overlay/modal/modal.service.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(minor): version 20.5.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  assets/docs/modal-service-it.md
  assets/docs/modal-service.md
  chunk-3DZRCF2U.js
  chunk-3HIKVOBT.js
  chunk-3YBW53UR.js
  chunk-43ADNVF3.js
  chunk-4LHJVFVG.js
  chunk-4RLIXRIS.js
  chunk-6W3RN57T.js
  chunk-7BZMQGQ7.js
  chunk-ALHLHR5U.js
  chunk-BAY73RYJ.js
  chunk-BBBL5MZN.js
  chunk-BHYPKTCC.js
  chunk-BK3PRWK2.js
  chunk-CKF3ZZPX.js
  chunk-DEAKAKOW.js
  chunk-EHJDLSSY.js
  chunk-GA4RGXDR.js
  chunk-GL7MPGQO.js
  chunk-IIWAHQNO.js
  chunk-JQBMUVNY.js
  chunk-LVY74J6Q.js
  chunk-QZNUXGEQ.js
  chunk-R7CX62RX.js
  chunk-RRYF4K5Q.js
  chunk-SEL7W3WF.js
  chunk-SEOCYLCD.js
  chunk-TDP4I7WW.js
  chunk-UQHVHDQX.js
  chunk-YDRRHNFL.js
  chunk-YDVQBZGF.js
  chunk-YEACZCH6.js
  chunk-YPND6AHQ.js
  chunk-Z24UEV6T.js
  chunk-ZKMIKTWN.js
  index.html
  main-HXVXKN7U.js
  main-J5JJAZJB.js
Due: ng-lint-staged lint --fix --, prettier --write

feat: add unit tests, setup unit tests for autocomplete
  package-lock.json
  package.json
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/jest.config.js
  projects/quang/setup-jest.ts
  projects/quang/tsconfig.spec.json
Due: ng-lint-staged lint --fix --, prettier --write

feat: switch to vitest from jest
  package-lock.json
  package.json
  projects/quang/jest.config.js
  projects/quang/setup-jest.ts
  projects/quang/test-setup.ts
  projects/quang/tsconfig.spec.json
  tsconfig.json
  vite.config.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(autocomplete): resolve input update issue after form patch QUANG-254
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.15-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(gitignore): add .history to ignore list
  .gitignore
Due: none

build(prerelease): version 19.3.15-1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(autocomplete): enhance input handling to prevent overwriting user input during selection QUANG-254
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.15-2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

test(autocomplete): add comprehensive unit tests for QuangOptionListComponent functionality
  projects/quang/components/shared/option-list/option-list.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(autocomplete): enhance component with detailed input properties and improved event handling
  projects/quang/components/autocomplete/README-it.md
  projects/quang/components/autocomplete/README.md
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(autocomplete): add showcase component with examples and styling
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-showcase.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-async-example.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-free-text-example.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-interactive-example.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-multiple-example.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-simple-example.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/components-test-pages.routes.ts
  projects/playground/src/app/shared/components/example-viewer/example-viewer.component.html
  projects/playground/src/app/shared/components/example-viewer/example-viewer.component.scss
  projects/playground/src/app/shared/components/example-viewer/example-viewer.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.15-3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(autocomplete, select): enhance accessibility with ARIA attributes and keyboard navigation
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/select/select.component.html
  projects/quang/components/select/select.component.ts
  projects/quang/components/shared/option-list/option-list.component.html
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(autocomplete): fix Enter key, blur clearing, and improve test coverage
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.15-4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(select, option-list): fix Tab handling and remove timeouts
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/select/select.component.spec.ts
  projects/quang/components/select/select.component.ts
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(option-list): scroll to selected option on arrow navigation
  projects/quang/components/shared/option-list/option-list.component.ts
  projects/quang/test-setup.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(autocomplete): add chipsPosition input for top/bottom chip placement
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-multiple-example.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(autocomplete): add chipsPosition input and snapshot tests
  projects/quang/components/autocomplete/__snapshots__/autocomplete.component.spec.ts.snap
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.15-5
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(autocomplete): allow long chip text to wrap instead of overflow
  projects/quang/components/autocomplete/__snapshots__/autocomplete.component.spec.ts.snap
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.15-6
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(date): focus input after closing datepicker
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.3.15-7
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Path conditions:
  ng-lint-staged lint --fix --: (any of: *.ts) or (any of: *.html)
  prettier --write: (((any of: *.ts) or (any of: *.html)) or (any of: *.json)) or (any of: *.scss)
