Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

feat: enhance app configuration and templates with safe navigation migration
  projects/playground/src/app/app.config.ts
  projects/playground/src/app/pages/components-test-pages/date-test/test/date-test.component.html
  projects/playground/tsconfig.app.json
  projects/quang/components/table/table.component.html
  projects/quang/overlay/toast/toast.component.html
  projects/quang/tsconfig.lib.json
  projects/quang/tsconfig.lib.prod.json
Due: ng-lint-staged lint --fix --, prettier --write

chore: update ngx-markdown to version 22.0.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update @ngrx/signals to v21.1.1 and air-datepicker to v3.6.0; upgrade angular-cli-ghpages to v3.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: clean up package-lock.json by removing unused dependencies and updating existing ones
  package-lock.json
Due: prettier --write

chore: add ignoreDeprecations option to tsconfig.json
  tsconfig.json
Due: prettier --write

chore: update version to 22.0.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore: update version to 22.0.0-1 in package.json
  package.json
Due: prettier --write

chore: update version to 22.0.0-1 in package-lock.json
  package-lock.json
Due: prettier --write

build(prerelease): version 22.0.0-2
  package-lock.json
  package.json
Due: prettier --write

chore: downgrade version to 22.0.0-1 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore: update version to 22.0.0-0 in package.json and package-lock.json
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(prerelease): version 22.0.0-1
  package-lock.json
  package.json
Due: prettier --write

build(prerelease): version 22.0.0-3
  package-lock.json
  package.json
Due: prettier --write

build(prerelease): downgrade version to 22.0.0-0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

feat: deps cleanup
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
Due: prettier --write

build(prerelease): version 20.8.2-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(option-list): adjust select button reference and improve resize handling
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

chore: comment out debug console.log statements
  projects/quang/components/shared/option-list/option-list.component.ts
  projects/quang/components/table/table.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 20.8.2-1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.8.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 21.2.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

chore: bump latest major version to 22 in npm-publish script
  scripts/npm-publish.js
Due: none

chore: remove extraneous typescript entry from package-lock.json
  package-lock.json
Due: prettier --write

build(patch): version 22.0.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

docs: add signal forms refactor design spec for InputTestComponent
  docs/superpowers/specs/2026-06-22-signal-forms-input-test-design.md
Due: none

docs: add signal forms input-test implementation plan
  docs/superpowers/plans/2026-06-22-signal-forms-input-test.md
Due: none

refactor(playground): migrate InputTestComponent to signal forms (TS)
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

refactor(playground): migrate InputTestComponent template to signal forms
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
Due: ng-lint-staged lint --fix --, prettier --write

docs: add signal forms compatibility findings for QuangInputComponent
  docs/superpowers/specs/2026-06-22-signal-forms-input-test-design.md
Due: none

docs: add signal forms interop design spec for QuangBaseComponent
  docs/superpowers/specs/2026-06-22-signal-forms-base-component-interop-design.md
Due: none

docs: resolve error-key mapping question in interop spec
  docs/superpowers/specs/2026-06-22-signal-forms-base-component-interop-design.md
Due: none

docs: add implementation plan for signal forms base component interop
  docs/superpowers/plans/2026-06-22-signal-forms-base-component-interop.md
Due: none

fix(quang): support signal forms [formField] binding in base component
  projects/quang/components/input/input.signal-forms.spec.ts
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs: supersede signal-forms incompatibility verdict; document error-key convention
  docs/superpowers/specs/2026-06-22-signal-forms-input-test-design.md
Due: none

fix(playground): add type="button" to input-test buttons inside formRoot
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 21.2.3-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write
