Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

build(patch): version 20.1.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-R2G26SZJ.js
  index.html
  main-BULGAO5Y.js
  main-CBMT42HC.js
Due: ng-lint-staged lint --fix --, prettier --write

fix(deps): version of deps
  package-lock.json
  projects/quang/package.json
Due: prettier --write

fix(build): update build-publish script to use prerelease tag
  package.json
Due: prettier --write

build(patch): version 17.1.10
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

style(popover): adjust padding and enable pointer events
  projects/quang/overlay/popover/popover.component.scss
Due: prettier --write

build(patch): version 19.2.5
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.1.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(build): add cleanup step before versioning scripts
  package.json
Due: prettier --write

build(patch): version 20.1.5
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  assets/docs/forms.it.md
  assets/docs/translation.it.md
  chunk-BZX5FSGL.js
  chunk-EHOKXB2M.js
  chunk-FO6A5Y6M.js
  chunk-OINBXIJ6.js
  index.html
  main-BULGAO5Y.js
  main-K4SUSGT7.js
Due: ng-lint-staged lint --fix --, prettier --write

feat(capacitor): update
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.1.6
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-2KPV2OPQ.js
  chunk-44MUFFH6.js
  chunk-7F23S4PH.js
  chunk-7FRETRRS.js
  chunk-7SSXP2UE.js
  chunk-B3O2TKV6.js
  chunk-BHOR37WW.js
  chunk-BN5N2GXH.js
  chunk-BZX5FSGL.js
  chunk-E4J4DWXY.js
  chunk-F5DPUHAQ.js
  chunk-HFY2OOZG.js
  chunk-HJWUF6EH.js
  chunk-HNFAAWWJ.js
  chunk-INQSTFIR.js
  chunk-ITKDRIHJ.js
  chunk-JSQMH3GC.js
  chunk-NOP2CYOW.js
  chunk-NTVUYZ5X.js
  chunk-PN6JLL4Q.js
  chunk-QABBVL6V.js
  chunk-QNWRRYJZ.js
  chunk-R47PX6HX.js
  chunk-RA6ZBH5R.js
  chunk-RLACH6IH.js
  chunk-RLDEGGXY.js
  chunk-TKD4T2JR.js
  chunk-UEZ4EJO6.js
  chunk-UOTJLZS3.js
  chunk-W62IXCMK.js
  chunk-XUXR6YZJ.js
  chunk-XVSGCTAE.js
  chunk-YOPMTJQ7.js
  chunk-YPV2LFC7.js
  index.html
  main-K4SUSGT7.js
  main-WCCESCAP.js
Due: ng-lint-staged lint --fix --, prettier --write

fix(README.md): added info for pageRangeText translation
  projects/quang/components/paginator/README.md
Due: none

fix(autocomplete): refactor value handling in selectOptionsChange subscription
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(autocomplete): clean up imports and remove debug logs in selectOptionsChange subscription
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.2.6
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.1.7
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  assets/docs/paginator.md
  chunk-IZ6ICCCI.js
  index.html
  main-LD2J35M6.js
  main-WCCESCAP.js
Due: ng-lint-staged lint --fix --, prettier --write

docs(README): update pageRangeText translation details to include placeholders for dynamic values
  projects/quang/components/paginator/README-it.md
Due: none

build(patch): version 20.1.8
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  assets/docs/paginator.it.md
Due: none

refactor(option-list): simplify getOptionListTop logic by removing setTimeout
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(README): update QuangTableComponent documentation with advanced features and usage examples
  projects/quang/components/table/README-it.md
  projects/quang/components/table/README.md
Due: none

build(patch): version 19.2.7
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.1.9
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  assets/docs/table.it.md
  assets/docs/table.md
  chunk-ASYNCU4Y.js
  index.html
  main-E57ALMHN.js
  main-LD2J35M6.js
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): add ModalService and related components for dynamic modal management
  projects/playground/src/app/core/menu/menuList.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.scss
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/modal-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/modal-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/test-modal-content.component.ts
  projects/playground/src/app/pages/overlay-test-pages/overlay-test-pages.routes.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
  projects/quang/overlay/modal/index.ts
  projects/quang/overlay/modal/modal.service.ts
  projects/quang/overlay/shared/CustomViewportRuler.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): refactor modal structure and add model interfaces for improved type safety
  projects/quang/overlay/modal/index.ts
  projects/quang/overlay/modal/modal.component.ts
  projects/quang/overlay/modal/modal.service.ts
  projects/quang/overlay/modal/models/ModalAnimationMode.ts
  projects/quang/overlay/modal/models/ModalInstance.ts
  projects/quang/overlay/modal/models/ModalOptions.ts
  projects/quang/overlay/modal/models/index.ts
  projects/quang/overlay/shared/CustomViewportRuler.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): enhance modal service with multiple modal support and dynamic modal management
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/test-modal-content.component.ts
  projects/quang/overlay/modal/modal.service.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): refactor modal service to use signals for state management and add new modal components
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content-2/test-modal-content-2.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content-2/test-modal-content-2.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content/test-modal-content.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content/test-modal-content.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/test-modal-content.component.ts
  projects/quang/overlay/modal/modal.service.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): update modal service UI with dynamic translations and improved content structure
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content-2/test-modal-content-2.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content-2/test-modal-content-2.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content/test-modal-content.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content/test-modal-content.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
Due: ng-lint-staged lint --fix --, prettier --write

feat(theme): implement ThemeService for dynamic theme management and update components for theme integration
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/core/menu/menu.component.html
  projects/playground/src/app/core/menu/menu.component.ts
  projects/playground/src/app/core/theme-modal/theme-modal.component.ts
  projects/playground/src/app/shared/services/theme.service.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): update button label for closing modals and adjust translations in English and Italian
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content-2/test-modal-content-2.component.html
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
  projects/quang/overlay/shared/CustomViewportRuler.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(input): add password toggle functionality with icons and update documentation
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.ts
  projects/playground/src/assets/icons/svg/visibility.svg
  projects/playground/src/assets/icons/svg/visibility_off.svg
  projects/quang/components/input/README-it.md
  projects/quang/components/input/README.md
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.scss
  projects/quang/components/input/input.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(README): update QuangPaginatorComponent usage examples and remove redundant sections for clarity
  projects/quang/components/paginator/README-it.md
  projects/quang/components/paginator/README.md
Due: none

docs(README): update QuangInputComponent documentation for clarity and consistency, including input types and features
  projects/quang/components/input/README-it.md
  projects/quang/components/input/README.md
Due: none

feat(QUANG-230): Revised Italian and English README files
  projects/quang/components/autocomplete/README-it.md
  projects/quang/components/autocomplete/README.md
  projects/quang/components/checkbox/README-it.md
  projects/quang/components/checkbox/README.md
  projects/quang/components/select/README-it.md
  projects/quang/components/select/README.md
Due: none
