Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

fix(readme): path for readme
  projects/playground/src/app/pages/auth-test-pages/auth-test/auth-test.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-pages/paginator-test/paginator-test.component.ts
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/modal-test-page.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

Auto-generated commit
  404.html
  chunk-FGJTTM57.js
  chunk-IDWM36FF.js
  chunk-QMPXGOUI.js
  chunk-YW5FE4IQ.js
  index.html
  main-7O3VHB4W.js
  main-MHNK7WQF.js
Due: ng-lint-staged lint --fix --, prettier --write

docs(readme): add important notice for Keycloak version upgrades
  projects/quang/auth/README.md
Due: none

Auto-generated commit
  assets/docs/auth.it.md
  assets/docs/auth.md
Due: none

feat: add multiple chip autocomplete
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: chip configs, cursor position
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/overlay/popover/popover.component.html
  projects/quang/overlay/tooltip/tooltip.component.html
Due: ng-lint-staged lint --fix --, prettier --write

fix: control
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: add chip selection with tab
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
Due: ng-lint-staged lint --fix --, prettier --write

fix: delete unused imports
  projects/quang/overlay/popover/popover.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: horizontal style
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.html
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(angular): update to version 20
  angular.json
  package-lock.json
  package.json
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.html
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.ts
  projects/playground/src/app/shared/components/component-documentation/component-documentation.component.ts
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/checkbox/checkbox.component.html
  projects/quang/components/checkbox/checkbox.component.ts
  projects/quang/components/date/date.component.html
  projects/quang/components/date/date.component.ts
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.ts
  projects/quang/components/paginator/paginator.component.html
  projects/quang/components/paginator/paginator.component.ts
  projects/quang/components/select/select.component.html
  projects/quang/components/select/select.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.html
  projects/quang/components/wysiwyg/wysiwyg.component.ts
  projects/quang/loader/loader.component.html
  projects/quang/loader/loader.component.ts
  projects/quang/overlay/popover/popover.component.html
  projects/quang/overlay/popover/popover.component.ts
  projects/quang/overlay/shared/CustomViewportRuler.ts
  projects/quang/overlay/toast/toast.component.html
  projects/quang/overlay/toast/toast.component.ts
  tsconfig.json
Due: ng-lint-staged lint --fix --, prettier --write

feat(angular): deps update to version 20
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(major): version 20.0.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

docs(readme): update Node.js version for Angular v20 compatibility
  README.md
Due: none

feat(package): add ng-package configuration and entry file
  projects/quang/data-handling/.gitkeep
  projects/quang/data-handling/index.ts
  projects/quang/data-handling/ng-package.json
Due: ng-lint-staged lint --fix --, prettier --write

feat: enhance chip management and option list positioning
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: add multiple selection support with chips and enhance documentation
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/quang/components/autocomplete/README.md
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

refactor: remove translation functions and improve error handling in README copy process
  scripts/copy-readme.js
Due: none

feat: add README documentation for QuangAutocomplete component with input, output, and usage examples
  projects/quang/components/autocomplete/README-it.md
Due: none

feat: Add Italian documentation for Quang Auth and UI components
  projects/quang/README.it.md
  projects/quang/auth/README-it.md
  projects/quang/components/README-it.md
  projects/quang/components/checkbox/README-it.md
  projects/quang/components/date/README-it.md
  projects/quang/components/date/README.it.md
  projects/quang/components/input/README-it.md
  projects/quang/components/paginator/README-it.md
  projects/quang/components/select/README-it.md
  projects/quang/components/table/README-it.md
  projects/quang/components/wysiwyg/README-it.md
  projects/quang/loader/README-it.md
  projects/quang/overlay/README-it.md
  projects/quang/overlay/modal/README-it.md
  projects/quang/overlay/popover/README-it.md
  projects/quang/overlay/toast/README-it.md
  projects/quang/overlay/tooltip/README-it.md
  scripts/copy-readme.js
Due: none

build(minor): version 19.1.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(version): rollback version change
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(minor): version 19.2.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(minor): version 20.1.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(minor): update publish scripts to remove deploy step
  package.json
Due: prettier --write

build(patch): version 19.2.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

style(table): enforce important styles for fake table header
  projects/quang/components/table/table.component.scss
Due: prettier --write

build(patch): version 19.2.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.1.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-B4NEJBXP.js
  index.html
  main-LEELOQ6X.js
  main-UPM6KHDH.js
Due: ng-lint-staged lint --fix --, prettier --write

feat(select): add auto-select functionality for single option
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.html
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.ts
  projects/quang/components/select/select.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.2.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.1.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-B4NEJBXP.js
  chunk-INAMHJMW.js
  index.html
  main-CBMT42HC.js
  main-UPM6KHDH.js
Due: ng-lint-staged lint --fix --, prettier --write

fix(select): remove debug logs and clean up auto-select logic
  projects/quang/components/select/select.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.2.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write
