Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

build(prerelease): version 21.2.3-1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(prerelease): version 22.0.1-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(autocomplete): sync free-text value while typing regardless of updateValueOnType
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(playground): add date field in modal test, add overlayUsePopover config
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/modal-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/modal-test-page.component.ts
  projects/quang/index.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 20.8.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 21.2.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 22.0.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(autocomplete): commit blur value update + add trim option to text inputs
  docs/superpowers/plans/2026-06-24-trim-text-input-option.md
  docs/superpowers/specs/2026-06-24-trim-text-input-option-design.md
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-interactive-example.component.ts
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.ts
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/input/input.component.spec.ts
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

test: fix pre-existing failing tests after Angular dep bump
  projects/quang/components/date/__snapshots__/date.component.spec.ts.snap
  projects/quang/components/tabs/__snapshots__/tabs.component.spec.ts.snap
  projects/quang/components/tabs/tabs.component.spec.ts
  projects/quang/overlay/tooltip/tooltip.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 20.8.4-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(option-list): position dropdown before first paint to remove top/bottom flicker
  projects/quang/components/shared/option-list/option-list.component.html
  projects/quang/components/shared/option-list/option-list.component.spec.ts
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 20.8.4-1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

ci: extract deploy-docs composite action from gh-pages workflows
  .github/actions/deploy-docs/action.yml
  .github/workflows/docs-gh-pages-preview.yml
  .github/workflows/docs-gh-pages.yml
Due: none

feat(publish): add npm login step before publishing prerelease version
  package.json
  scripts/npm-login.js
  scripts/npm-publish.js
Due: prettier --write

build(patch): version 20.8.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 21.2.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 22.0.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix: header space table
  projects/quang/components/table/table.component.scss
Due: prettier --write

build(prerelease): version 22.0.3-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 22.0.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(deps): upgrade Capacitor from 7 to 8
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(minor): version 22.1.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  .nojekyll
  404.html
  chunk-0LgUejG5.js
  chunk-5f0sgQHw.js
  chunk-Ari2RQtQ.js
  chunk-BA17Wle3.js
  chunk-BIkNjjqT.js
  chunk-BRfbjY1y.js
  chunk-BbzkMfAu.js
  chunk-BfEDpdFU.js
  chunk-BjVPqUB4.js
  chunk-BsSGrF8J.js
  chunk-Bsh4-JMH.js
  chunk-C7xvdjsq.js
  chunk-CRMe1Qau.js
  chunk-CV0Ch_Wh.js
  chunk-Cbfy4ptW.js
  chunk-Cj42zTjd.js
  chunk-Cj9YcH06.js
  chunk-CmIS1rR6.js
  chunk-CsdSHWUR.js
  chunk-CytqIycQ.js
  chunk-DXagw1U5.js
  chunk-DezhsJTt.js
  chunk-Dk9aDhxY.js
  chunk-NbhyqYmT.js
  chunk-Qa4assEy.js
  chunk-dApb9NpQ.js
  chunk-ysuwCOyK.js
  index.html
  main-DNS5VUVB.js
Due: ng-lint-staged lint --fix --, prettier --write

docs(indice): partiziona il repo in 25 voci e crea l'indice delle feature
  CLAUDE.md
  docs/automatica/indice-feature.md
Due: none

docs(osservazioni): apre il registro delle osservazioni sul codice
  docs/automatica/osservazioni.md
Due: none

QUANG-282 non scrivere sul DOM le chiavi di cell.properties che iniettano markup
  projects/quang/components/table/table.component.spec.ts
  projects/quang/components/table/table.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

docs(configurazione-quang): scheda del punto di ingresso della libreria
  docs/automatica/features/configurazione-quang.md
Due: none

docs(autenticazione): scheda del flusso OIDC, guardie e direttive
  docs/automatica/features/autenticazione.md
Due: none

docs(autocomplete): scheda del campo con tendina di suggerimenti
  docs/automatica/features/autocomplete.md
Due: none

docs(indice, osservazioni): tre voci documentate a 68c44102 e quattro osservazioni
  docs/automatica/indice-feature.md
  docs/automatica/osservazioni.md
Due: none

QUANG-285 assegna embeddedViewRef in quangIsAuthenticated
  projects/quang/auth/directives/is-authenticated.directive.spec.ts
  projects/quang/auth/directives/is-authenticated.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(table,toast): rimuove il segnaposto $safeNavigationMigration dai template
  projects/playground/src/app/pages/components-test-pages/date-test/test/date-test.component.html
  projects/quang/components/table/table.component.html
  projects/quang/overlay/toast/toast.component.html
Due: ng-lint-staged lint --fix --, prettier --write

build: aggiunge .nvmrc con Node 24
  .nvmrc
Due: none
