Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

feat(QUANG-230): streamline QuangWysiwygComponent documentation by consolidating input and output sections for clarity
  projects/quang/components/wysiwyg/README-it.md
  projects/quang/components/wysiwyg/README.md
Due: none

build(minor): version 19.3.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(input): add conditional rendering for component label in input template
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(modal): add modal-service docs
  projects/quang/overlay/modal/modal-service.it.md
  projects/quang/overlay/modal/modal-service.md
Due: none

feat(docs): update and handling docs
  projects/playground/src/app/pages/auth-test-pages/auth-test/auth-test.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.ts
  projects/playground/src/app/pages/components-test-pages/loader-test-page/loader-test-page.component.ts
  projects/playground/src/app/pages/components-test-pages/paginator-test/paginator-test.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.ts
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.ts
  projects/playground/src/app/pages/components-test-pages/toggle-test/toggle-test.component.ts
  projects/playground/src/app/pages/components-test-pages/wysiwyg-test/wysiwyg-test.component.ts
  projects/playground/src/app/pages/home/home.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/modal-service-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-service-test-page/test-modal-content/test-modal-content.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/modal-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/popover-test-page/popover-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/toast-test-page/toast-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/tooltip-test-page/tooltip-test-page.component.ts
  projects/quang/README-it.md
  projects/quang/overlay/modal/README-service-it.md
  projects/quang/overlay/modal/README-service.md
  scripts/copy-readme.js
Due: ng-lint-staged lint --fix --, prettier --write

build(minor): version 20.2.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.2.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(input): enhance password visibility toggle with content projection for icons
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
  projects/quang/components/input/README-it.md
  projects/quang/components/input/README.md
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

refactor(components): remove unused NgIf imports and simplify template conditions
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.html
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.ts
  projects/playground/src/app/shared/components/component-documentation/component-documentation.component.ts
  projects/quang/components/checkbox/checkbox.component.html
  projects/quang/components/checkbox/checkbox.component.ts
  projects/quang/components/date/date.component.html
  projects/quang/components/date/date.component.ts
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.ts
  projects/quang/components/paginator/paginator.component.html
  projects/quang/components/paginator/paginator.component.ts
  projects/quang/components/select/select.component.html
  projects/quang/components/select/select.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.html
  projects/quang/components/wysiwyg/wysiwyg.component.ts
  projects/quang/loader/loader.component.html
  projects/quang/loader/loader.component.ts
  projects/quang/overlay/toast/toast.component.html
  projects/quang/overlay/toast/toast.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.2.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  assets/docs/input-it.md
  assets/docs/input.it.md
  assets/docs/input.md
  chunk-C7D5IHNE.js
  chunk-L2FLQPYY.js
  index.html
  main-4SRNWLCY.js
  main-NGEAZHKM.js
Due: ng-lint-staged lint --fix --, prettier --write

refactor(date): improve date parsing and validation logic for better format handling
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.2.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-L2FLQPYY.js
  chunk-S6KR5QCS.js
  index.html
  main-GPLODLO6.js
  main-NGEAZHKM.js
Due: ng-lint-staged lint --fix --, prettier --write

fix(input): set default state of showHidePasswordButton to false
  projects/quang/components/input/input.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.2.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-QRBIZYY2.js
  index.html
  main-GPLODLO6.js
  main-I22WX7JO.js
Due: ng-lint-staged lint --fix --, prettier --write

fix(QUANG-233): show feedback in quang-input
  projects/quang/components/input/input.component.html
Due: ng-lint-staged lint --fix --, prettier --write

feat(input): add help message support with tooltip option in QuangInputComponent
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
  projects/playground/src/assets/icons/svg/info.svg
  projects/quang/components/input/README-it.md
  projects/quang/components/input/README.md
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.ts
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(QUANG-234): autocomplete add help message support with tooltip option in QuangAutocompleteComponent
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/quang/components/autocomplete/README-it.md
  projects/quang/components/autocomplete/README.md
  projects/quang/components/autocomplete/autocomplete.component.html
Due: ng-lint-staged lint --fix --, prettier --write

feat(QUANG-234): checkbox. add help message support with tooltip option in QuangCheckboxComponent
  projects/quang/components/checkbox/README-it.md
  projects/quang/components/checkbox/README.md
  projects/quang/components/checkbox/checkbox.component.html
  projects/quang/components/checkbox/checkbox.component.ts
  projects/quang/components/input/README-it.md
  projects/quang/components/input/README.md
Due: ng-lint-staged lint --fix --, prettier --write

feat(QUANG-234): date add help message support with tooltip option in QuangDateComponent
  projects/quang/components/date/README-it.md
  projects/quang/components/date/README.md
  projects/quang/components/date/date.component.html
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(QUANG-234): (select) add help message support with tooltip option in QuangSelectComponent
  projects/quang/components/select/README-it.md
  projects/quang/components/select/README.md
  projects/quang/components/select/select.component.html
  projects/quang/components/select/select.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(QUANG-234): (wysiwyg) add help message support with tooltip option in QuangWysiwygComponent
  projects/quang/components/wysiwyg/README-it.md
  projects/quang/components/wysiwyg/README.md
  projects/quang/components/wysiwyg/wysiwyg.component.html
  projects/quang/components/wysiwyg/wysiwyg.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(QUANG-234): add QuangTranslationService to AppComponent and update language handling in MenuComponent
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/core/menu/menu.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(QUANG-234): enhance input handling with distinct value changes and conditional password input display
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(QUANG-234): add tooltip icon projection support across multiple components
  projects/quang/components/autocomplete/README-it.md
  projects/quang/components/autocomplete/README.md
  projects/quang/components/checkbox/README-it.md
  projects/quang/components/checkbox/README.md
  projects/quang/components/date/README-it.md
  projects/quang/components/date/README.md
  projects/quang/components/input/README-it.md
  projects/quang/components/input/README.md
  projects/quang/components/select/README-it.md
  projects/quang/components/select/README.md
  projects/quang/components/wysiwyg/README-it.md
  projects/quang/components/wysiwyg/README.md
Due: none

build(minor): version 20.3.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  assets/docs/autocomplete-it.md
  assets/docs/autocomplete.it.md
  assets/docs/autocomplete.md
  assets/docs/checkbox-it.md
  assets/docs/checkbox.it.md
  assets/docs/checkbox.md
  assets/docs/date-it.md
  assets/docs/date.it.md
  assets/docs/date.md
  assets/docs/input-it.md
  assets/docs/input.it.md
  assets/docs/input.md
  assets/docs/modal-modal-service-it.md
  assets/docs/modal-modal-service.md
  assets/docs/modal.it.md
  assets/docs/paginator.it.md
  assets/docs/select-it.md
  assets/docs/select.it.md
  assets/docs/select.md
  assets/docs/wysiwyg-it.md
  assets/docs/wysiwyg.it.md
  assets/docs/wysiwyg.md
  assets/i18n/en.json
  assets/i18n/it.json
  assets/icons/svg/info.svg
  chunk-QRBIZYY2.js
  chunk-ZUK3J6V4.js
  index.html
  main-3NPOD5DZ.js
  main-I22WX7JO.js
Due: ng-lint-staged lint --fix --, prettier --write

feat(input): doc for errors
  projects/quang/components/date/README-it.md
  projects/quang/components/date/README.md
  projects/quang/components/input/README-it.md
  projects/quang/components/input/README.md
  projects/quang/components/select/README-it.md
  projects/quang/components/select/README.md
  projects/quang/components/shared/quang-base-component.directive.ts
  projects/quang/components/wysiwyg/README-it.md
  projects/quang/components/wysiwyg/README.md
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 20.3.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  assets/docs/autocomplete.it.md
  assets/docs/checkbox.it.md
  assets/docs/date-it.md
  assets/docs/date.it.md
  assets/docs/date.md
  assets/docs/input-it.md
  assets/docs/input.it.md
  assets/docs/input.md
  assets/docs/modal-modal-service-it.md
  assets/docs/modal-modal-service.md
  assets/docs/modal.it.md
  assets/docs/paginator.it.md
  assets/docs/select-it.md
  assets/docs/select.it.md
  assets/docs/select.md
  assets/docs/wysiwyg-it.md
  assets/docs/wysiwyg.it.md
  assets/docs/wysiwyg.md
  chunk-6GJ7KR6T.js
  chunk-ZUK3J6V4.js
  index.html
  main-3NPOD5DZ.js
  main-XEFPKZFU.js
Due: ng-lint-staged lint --fix --, prettier --write

feat(deps): update deps
  package-lock.json
Due: prettier --write

feat(option-list): refactor event handling and improve option list positioning
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write
