Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

feat: logo + dynamic readmePath for homeComponent
  projects/playground/src/app/core/menu/menu.component.html
  projects/playground/src/app/core/menu/menu.component.scss
  projects/playground/src/app/core/menu/menuList.ts
  projects/playground/src/app/pages/home/home.component.html
  projects/playground/src/app/pages/home/home.component.scss
  projects/playground/src/app/pages/home/home.component.ts
  projects/playground/src/assets/img/quang-logo-bg.png
  projects/playground/src/assets/img/quang-logo.png
Due: ng-lint-staged lint --fix --, prettier --write

fix: cleanup comments
  projects/playground/src/app/app.component.html
Due: ng-lint-staged lint --fix --, prettier --write

feat: add function to copy translated readme. to add api
  scripts/copy-readme.js
Due: none

feat: add load readme file by current language
  projects/playground/src/app/pages/auth-test-pages/auth-test/auth-test.component.html
  projects/playground/src/app/pages/auth-test-pages/auth-test/auth-test.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/date-test.component.html
  projects/playground/src/app/pages/components-test-pages/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.ts
  projects/playground/src/app/pages/components-test-pages/loader-test-page/loader-test-page.component.html
  projects/playground/src/app/pages/components-test-pages/loader-test-page/loader-test-page.component.ts
  projects/playground/src/app/pages/components-test-pages/paginator-test/paginator-test.component.html
  projects/playground/src/app/pages/components-test-pages/paginator-test/paginator-test.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.html
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.ts
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.html
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.ts
  projects/playground/src/app/pages/components-test-pages/toggle-test/toggle-test.component.html
  projects/playground/src/app/pages/components-test-pages/toggle-test/toggle-test.component.ts
  projects/playground/src/app/pages/components-test-pages/wysiwyg-test/wysiwyg-test.component.html
  projects/playground/src/app/pages/components-test-pages/wysiwyg-test/wysiwyg-test.component.ts
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/modal-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/modal-test-page/modal-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/popover-test-page/popover-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/popover-test-page/popover-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/toast-test-page/toast-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/toast-test-page/toast-test-page.component.ts
  projects/playground/src/app/pages/overlay-test-pages/tooltip-test-page/tooltip-test-page.component.html
  projects/playground/src/app/pages/overlay-test-pages/tooltip-test-page/tooltip-test-page.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: remove logs
  projects/playground/src/app/core/menu/menu.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: readme contents
  projects/quang/auth/README.md
  projects/quang/components/README.md
  projects/quang/components/autocomplete/README.md
  projects/quang/components/checkbox/README.md
  projects/quang/components/date/README.md
  projects/quang/components/input/README.md
  projects/quang/components/paginator/README.md
  projects/quang/components/select/README.md
  projects/quang/components/table/README.md
  projects/quang/components/wysiwyg/README.md
  projects/quang/loader/README.md
  projects/quang/overlay/modal/README.md
  projects/quang/overlay/popover/README.md
  projects/quang/overlay/toast/README.md
  projects/quang/overlay/tooltip/README.md
  projects/quang/translation/README.md
Due: none

build(patch): version 19.0.20
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(package): add repository information to package.json
  package.json
Due: prettier --write

build(patch): version 19.0.21
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(package): update deploy script to include README copy
  package.json
Due: prettier --write

Auto-generated commit
  assets/docs/auth.it.md
  assets/docs/autocomplete.it.md
  assets/docs/autocomplete.md
  assets/docs/checkbox.it.md
  assets/docs/checkbox.md
  assets/docs/date.it.md
  assets/docs/date.md
  assets/docs/forms.it.md
  assets/docs/input.it.md
  assets/docs/input.md
  assets/docs/loader.it.md
  assets/docs/modal.it.md
  assets/docs/modal.md
  assets/docs/paginator.it.md
  assets/docs/paginator.md
  assets/docs/popover.it.md
  assets/docs/popover.md
  assets/docs/quang.it.md
  assets/docs/root-readme.md
  assets/docs/select.it.md
  assets/docs/select.md
  assets/docs/table.it.md
  assets/docs/table.md
  assets/docs/toast.it.md
  assets/docs/toast.md
  assets/docs/tooltip.it.md
  assets/docs/tooltip.md
  assets/docs/translation.it.md
  assets/docs/wysiwyg.it.md
  assets/docs/wysiwyg.md
Due: none

Auto-generated commit
  404.html
  chunk-4URSNSJ3.js
  chunk-7HGGDBME.js
  chunk-QEFOOCEP.js
  chunk-TMYSSIX4.js
  index.html
  main-AP6MGIG4.js
  main-VGIIZ2XD.js
Due: ng-lint-staged lint --fix --, prettier --write

fix: template + add copy to documentation component
  projects/playground/src/app/pages/home/home.component.html
  projects/playground/src/app/shared/components/component-documentation/component-documentation.component.html
  projects/playground/src/app/shared/components/component-documentation/component-documentation.component.scss
  projects/playground/src/app/shared/components/component-documentation/component-documentation.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: style
  projects/playground/src/app/core/menu/menu.component.scss
Due: prettier --write

fix(theme-modal): update import path for QuangModalComponent
  projects/playground/src/app/core/theme-modal/theme-modal.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(option-list): implement search functionality with debounce in option list
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

Auto-generated commit
  404.html
  chunk-4VKW4MOU.js
  chunk-5257AAOS.js
  chunk-5FC5WJFV.js
  chunk-6DQQCEQS.js
  chunk-6RKTJBMV.js
  chunk-77YGQBKX.js
  chunk-7HGGDBME.js
  chunk-BKQV4XP3.js
  chunk-BSAZ2ODY.js
  chunk-EWQANTRL.js
  chunk-FW6NB6FO.js
  chunk-HJAFOD5R.js
  chunk-JWGIYOLD.js
  chunk-LJPVZ5OM.js
  chunk-MLWB6DHT.js
  chunk-O4CUGZWD.js
  chunk-OQ2VXGHS.js
  chunk-P3KBSF3C.js
  chunk-PNEROIRP.js
  chunk-QJXW26SW.js
  chunk-QQJLP6ZH.js
  chunk-SONFJRQ7.js
  chunk-TMYSSIX4.js
  chunk-TOCSF3EM.js
  chunk-TS75KFX6.js
  chunk-VBYZ4UMR.js
  chunk-VMQW4T2S.js
  chunk-XM56UNGD.js
  chunk-YBRKOIEO.js
  chunk-ZMKI4FAZ.js
  chunk-ZSDCQJOV.js
  index.html
  main-AQ7XLYFF.js
  main-VGIIZ2XD.js
Due: ng-lint-staged lint --fix --, prettier --write

fix(index): update title from 'Playground' to 'Quang'
  projects/playground/src/index.html
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.22
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  index.html
Due: ng-lint-staged lint --fix --, prettier --write

fix(package): update repository URL format in package.json
  package.json
Due: prettier --write

build(patch): version 19.0.23
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 19.0.24
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat: add playwright + write tests with copilot
  package-lock.json
  package.json
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.spec.ts
  projects/playground/src/app/pages/components-test-pages/toggle-test/toggle-test.component.spec.ts
  test-results/.last-run.json
Due: ng-lint-staged lint --fix --, prettier --write

feat: add toggle test
  projects/playground/src/app/pages/components-test-pages/toggle-test/toggle-test.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: add tests
  package-lock.json
  package.json
  projects/playground/src/app/pages/components-test-pages/toggle-test.spec.ts
  projects/playground/src/app/pages/components-test-pages/toggle-test/toggle-test.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(package): update repository URL format in package.json
  package-lock.json
  package.json
Due: prettier --write

build(prerelease): version 19.0.25-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 19.0.25
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-22M5ED53.js
  chunk-4STT7B5C.js
  chunk-53XDYXPZ.js
  chunk-5HHDMMW5.js
  chunk-6HO6QU3V.js
  chunk-72NBPYJX.js
  chunk-AI4CTHAB.js
  chunk-B73NTX2F.js
  chunk-B7A4C63L.js
  chunk-D5UUOEYS.js
  chunk-DAEZZW2A.js
  chunk-G6PD6HSY.js
  chunk-IH7KBTWH.js
  chunk-JHBN74HO.js
  chunk-JNDRTF2G.js
  chunk-JNJ3GFGM.js
  chunk-NCEOZRTB.js
  chunk-NMNDUJ7R.js
  chunk-OOKZKTCM.js
  chunk-OWTVRQTX.js
  chunk-PPX6VBKQ.js
  chunk-PUDTRKHU.js
  chunk-QL7PIZ5Z.js
  chunk-QV7B7MCR.js
  chunk-RKS2M5SE.js
  chunk-RLR7EZVK.js
  chunk-S3DEZNWL.js
  chunk-T7QKTDYJ.js
  chunk-UX55CJQO.js
  chunk-VIG3GBD6.js
  chunk-XLGBFLHJ.js
  chunk-YW5FE4IQ.js
  index.html
  main-7O3VHB4W.js
  main-JQFNGSIF.js
Due: ng-lint-staged lint --fix --, prettier --write

fix(package): add repository field in package.json
  projects/quang/package.json
Due: prettier --write

build(prerelease): version 19.0.26-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 19.0.26
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(package): update homepage URL in package.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 19.0.27
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(license): added MIT license
  README.md
  projects/quang/README.md
Due: none

build(patch): version 19.0.28
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  assets/docs/quang.it.md
  assets/docs/quang.md
  assets/docs/root-readme.md
Due: none
