Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

feat(date): migrate playground showcase and fix inline/range updates
  projects/playground/src/app/pages/components-test-pages/components-test-pages.routes.ts
  projects/playground/src/app/pages/components-test-pages/date-test/examples/date-full-example.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/examples/date-no-time-example.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/examples/date-range-example.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/examples/date-switch-date-range-example.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/date-test/examples/time-only-example.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/showcase/date-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/date-test/showcase/date-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/date-test/showcase/date-showcase.component.ts
  projects/playground/src/app/pages/components-test-pages/date-test/test/date-test.component.html
  projects/playground/src/app/pages/components-test-pages/date-test/test/date-test.component.scss
  projects/playground/src/app/pages/components-test-pages/date-test/test/date-test.component.ts
  projects/quang/components/date/date.browser.spec.ts
  projects/quang/components/date/date.component.html
  projects/quang/components/date/date.component.scss
  projects/quang/components/date/date.component.spec.ts
  projects/quang/components/date/date.component.ts
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

test(date): add snapshots and improve coverage
  projects/quang/components/date/__snapshots__/date.component.spec.ts.snap
  projects/quang/components/date/date.component.spec.ts
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(minor): version 19.4.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

test(date): update snapshots for QuangDateComponent to reflect ng-version change and improve label structure
  projects/quang/components/date/__snapshots__/date.component.spec.ts.snap
Due: none

build(minor): version 20.6.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

chore: update Angular dependencies to version 21.1.0 and adjust imports in components
  package-lock.json
  package.json
  projects/playground/src/app/pages/auth-test-pages/auth-test/auth-test.component.ts
  projects/playground/src/app/pages/device/device.component.ts
  projects/playground/src/app/pages/form/showcase/form-example-showcase/form-example-showcase.component.ts
  projects/playground/src/app/pages/form/showcase/form-validators-showcase/form-validators-showcase.component.ts
  projects/playground/src/app/pages/network/network.component.ts
  projects/playground/src/app/pages/translation/translation.component.ts
  projects/playground/src/main.ts
  tsconfig.json
Due: ng-lint-staged lint --fix --, prettier --write

chore: update Angular CDK to version 21.1.0 in package.json and package-lock.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update package dependencies to latest versions
  package-lock.json
  package.json
Due: prettier --write

feat(deps): update package-lock.json
  package-lock.json
Due: prettier --write

build(major): version 21.0.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

chore(deps): update Angular peer dependencies to version 21.1.0
  projects/quang/package.json
Due: prettier --write

build(patch): version 21.0.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(tabs): created quang-tabs component, tests, updated playground and created examples QUANG-262
  package-lock.json
  projects/playground/src/app/core/menu/menuList.ts
  projects/playground/src/app/pages/components-test-pages/components-test-pages.routes.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-content-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-disabled-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-events-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-interactive-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-simple-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-template-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/showcase/tabs-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/tabs-test/showcase/tabs-showcase.component.scss
  projects/playground/src/app/pages/components-test-pages/tabs-test/showcase/tabs-showcase.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/test/tabs-test.component.html
  projects/playground/src/app/pages/components-test-pages/tabs-test/test/tabs-test.component.scss
  projects/playground/src/app/pages/components-test-pages/tabs-test/test/tabs-test.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
  projects/quang/components/tabs/README-it.md
  projects/quang/components/tabs/README.md
  projects/quang/components/tabs/__snapshots__/tabs.component.spec.ts.snap
  projects/quang/components/tabs/index.ts
  projects/quang/components/tabs/ng-package.json
  projects/quang/components/tabs/tabs.component.html
  projects/quang/components/tabs/tabs.component.scss
  projects/quang/components/tabs/tabs.component.spec.ts
  projects/quang/components/tabs/tabs.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(tabs): updated changelog QUANG-262
  CHANGELOG.md
Due: none

feat(docs): add support for preview documentation and update deployment workflows
  .github/workflows/docs-gh-pages-preview.yml
  .github/workflows/docs-gh-pages.yml
  README.md
Due: none

build(prerelease): version 20.6.1-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(docs): update preview documentation and workflows to simplify preview structure
  .github/workflows/docs-gh-pages-preview.yml
  .github/workflows/docs-gh-pages.yml
  README.md
  projects/playground/src/app/app.config.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 20.6.1-1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(menu): display build version in menu and style updates
  projects/playground/src/app/core/menu/menu.component.html
  projects/playground/src/app/core/menu/menu.component.scss
  projects/playground/src/app/core/menu/menu.component.ts
  tsconfig.json
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 20.6.1-2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(tabs): custom template fixes, fix playground example QUANG-262
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-template-example.component.ts
  projects/quang/components/tabs/tabs.component.html
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 20.6.1-3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(minor): version 20.7.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix: resolve linting errors and add tests to quang overlay
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-content-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-template-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/test/tabs-test.component.ts
  projects/playground/src/app/pages/components-test-pages/wysiwyg-test/wysiwyg-test.component.ts
  projects/playground/src/app/pages/overlay-test-pages/toast-test-page/toast-test-page.component.ts
  projects/playground/src/app/shared/components/component-documentation/component-documentation.component.ts
  projects/playground/src/app/shared/directives/source-code.directive.ts
  projects/playground/src/app/shared/services/component-documentation.service.ts
  projects/quang/auth/directives/is-authenticated.directive.ts
  projects/quang/auth/directives/is-not-authenticated.directive.ts
  projects/quang/components/date/date.component.spec.ts
  projects/quang/components/paginator/paginator-language.service.ts
  projects/quang/components/paginator/paginator.component.ts
  projects/quang/components/paginator/paginator.service.ts
  projects/quang/components/paginator/paginatorIntl.ts
  projects/quang/components/shared/option-list/option-list.component.spec.ts
  projects/quang/components/shared/quang-base-component.directive.ts
  projects/quang/components/table/table.component.ts
  projects/quang/components/tabs/tabs.component.spec.ts
  projects/quang/components/tabs/tabs.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
  projects/quang/forms/validators.ts
  projects/quang/overlay/modal/modal.component.spec.ts
  projects/quang/overlay/modal/modal.component.ts
  projects/quang/overlay/popover/popover.component.ts
  projects/quang/overlay/popover/popover.directive.spec.ts
  projects/quang/overlay/popover/popover.directive.ts
  projects/quang/overlay/shared/quang-base-overlay.component.ts
  projects/quang/overlay/shared/quang-base-overlay.directive.ts
  projects/quang/overlay/toast/toast.component.spec.ts
  projects/quang/overlay/toast/toast.service.spec.ts
  projects/quang/overlay/toast/toast.service.ts
  projects/quang/overlay/tooltip/tooltip.component.spec.ts
  projects/quang/overlay/tooltip/tooltip.component.ts
  projects/quang/overlay/tooltip/tooltip.directive.spec.ts
  projects/quang/overlay/tooltip/tooltip.directive.ts
  projects/quang/test-setup.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: handle potential null value in wysiwygRequired function
  projects/quang/forms/validators.ts
Due: ng-lint-staged lint --fix --, prettier --write

chore: update changelog for version 20.7.1 with fixes and tests for overlay components
  CHANGELOG.md
Due: none

build(patch): version 20.7.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-5MMO5JDO.js
  chunk-5NF3NVIO.js
  chunk-5Y2GRUYK.js
  chunk-AM5ADZED.js
  chunk-G3JTKSL5.js
  chunk-HL4YZ6V6.js
  chunk-JFBLYPUN.js
  chunk-KGJ6QE66.js
  chunk-LK46Z6VT.js
  chunk-O5PQACWO.js
  chunk-QV7XK2UH.js
  chunk-RZ574UBW.js
  chunk-TCPGA772.js
  chunk-TEHHG5IV.js
  chunk-TEI33ZUP.js
  chunk-VPOCDNPX.js
  index.html
  main-HW4UCVZT.js
  main-I72VSMYO.js
Due: ng-lint-staged lint --fix --, prettier --write

build(minor): version 21.1.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix: add functionality to clear timepicker input values when showing only timepicker
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: add test for clearing timepicker inputs when formControl value is null
  projects/quang/components/date/__snapshots__/date.component.spec.ts.snap
  projects/quang/components/date/date.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: adjust styles for timepicker layout and input height
  projects/quang/components/date/date.component.scss
Due: prettier --write

fix: update timepicker behavior to set formControl to null when inputs are cleared
  projects/quang/components/date/date.component.scss
  projects/quang/components/date/date.component.spec.ts
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: update inline timepicker test to initialize input values and use correct host component
  projects/quang/components/date/date.component.spec.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: add disabled state handling for datepicker and update styles
  projects/quang/components/date/date.component.scss
  projects/quang/components/date/date.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 20.7.2-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write
