Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

build(patch): version 20.3.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(date): unset z-index for inline calendar
  package-lock.json
  projects/quang/components/date/date.component.scss
Due: prettier --write

build(patch): version 19.3.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(deps): update deps
  package-lock.json
Due: prettier --write

build(patch): version 20.3.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(table): enhance table cell properties and styles
  package-lock.json
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.ts
  projects/quang/components/table/table.component.html
  projects/quang/components/table/table.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 20.3.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-42FBD35T.js
  chunk-4CXHB4OB.js
  chunk-4ZO2FGQU.js
  chunk-6CTSGFXY.js
  chunk-7YLAY3XH.js
  chunk-AWD7SOKP.js
  chunk-AX7E2GVC.js
  chunk-BE65IOYM.js
  chunk-BQOSFIR4.js
  chunk-D2QUDXGV.js
  chunk-EG6423SX.js
  chunk-EJQD7VS7.js
  chunk-FTQRVQ6S.js
  chunk-FZQLWKPB.js
  chunk-H6BXK5BY.js
  chunk-HTCMWNRX.js
  chunk-IAGF7I6F.js
  chunk-IETS53AQ.js
  chunk-J4DLC56O.js
  chunk-K2ROIJGM.js
  chunk-LRDIXDRF.js
  chunk-MZXHMSSX.js
  chunk-NHJX42YZ.js
  chunk-NJHYOB4D.js
  chunk-O62EH62J.js
  chunk-OUBBLJWJ.js
  chunk-QMDCRTSJ.js
  chunk-UAITGH4Z.js
  chunk-VC4HI3UW.js
  chunk-WUQ2YNKI.js
  chunk-XLF32IJ4.js
  chunk-YGD7T36H.js
  chunk-ZD3ZTEG6.js
  chunk-ZJ7VRA3J.js
  index.html
  light-66VH6WIL.css
  light-NSXKLZF4.css
  main-3EO243I3.js
  main-56TRLRFP.js
Due: ng-lint-staged lint --fix --, prettier --write

feat(multiple-sorting): added multiple sorting handling QUANG-243
  projects/quang/components/table/table.component.html
  projects/quang/components/table/table.component.scss
  projects/quang/components/table/table.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(readme): readme update QUANG-243
  projects/quang/components/table/README-it.md
  projects/quang/components/table/README.md
Due: none

feat(playground): update playground test component to switch sorting type on table QUANG-243
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.html
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.scss
  projects/playground/src/app/pages/components-test-pages/table-test/table-test.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
Due: ng-lint-staged lint --fix --, prettier --write

fix(deps): update @ngrx/signals to version 20.0.0
  projects/quang/package.json
Due: prettier --write

fix(table): improve conditional rendering for multiple sorting display
  package-lock.json
  projects/quang/components/table/table.component.html
Due: ng-lint-staged lint --fix --, prettier --write

build(minor): version 20.4.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(table): enhance row and cell tracking for improved rendering
  projects/quang/components/table/table.component.html
  projects/quang/components/table/table.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 20.4.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  chunk-2BZUGRL4.js
  chunk-4AH45UT7.js
  index.html
  main-2S6JQVVW.js
  main-6LKSP2VX.js
Due: ng-lint-staged lint --fix --, prettier --write

fix: handle form value changes for multiple selections and reset selected options accordingly.
  package-lock.json
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.html
  projects/playground/src/app/pages/components-test-pages/select-test/select-test.component.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.5
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.4.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(option-list): optimize option list positioning with delayed recalculation
  projects/quang/components/shared/option-list/option-list.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.6
  package-lock.json
  package.json
Due: prettier --write

build(patch): version 19.3.7
  package-lock.json
  package.json
Due: prettier --write

build(patch): version 19.3.8
  package-lock.json
  package.json
Due: prettier --write

build(patch): update version to 19.3.8
  projects/quang/package.json
Due: prettier --write

build(patch): version 19.3.9
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.4.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  assets/docs/modal-modal-service-it.md
  assets/docs/modal-modal-service.md
Due: none

fix(lists): update track identifiers in template loops for better performance
  package-lock.json
  projects/playground/src/app/core/theme-modal/theme-modal.component.html
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/shared/option-list/option-list.component.html
  projects/quang/components/table/table.component.html
Due: ng-lint-staged lint --fix --, prettier --write

refactor(autocomplete): reorder imports and remove console log for cleaner code
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(deps): update
  package-lock.json
Due: prettier --write

build(patch): version 19.3.10
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(table): handle potential null values in track identifiers for improved stability
  projects/quang/components/table/table.component.html
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.3.11
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.4.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Path conditions:
  ng-lint-staged lint --fix --: (any of: *.ts) or (any of: *.html)
  prettier --write: (((any of: *.ts) or (any of: *.html)) or (any of: *.json)) or (any of: *.scss)
