Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

fix(deps): version deps
  package-lock.json
  package.json
Due: prettier --write

build(patch): version 17.1.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(standalone): added back standalone true in components
  projects/quang/auth/auth-providers.ts
  projects/quang/auth/mobile/mobile-auth-feature.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/checkbox/checkbox.component.ts
  projects/quang/components/date/date.component.ts
  projects/quang/components/input/input.component.ts
  projects/quang/components/paginator/paginator.component.ts
  projects/quang/components/select/select.component.ts
  projects/quang/components/shared/option-list/option-list.component.ts
  projects/quang/components/table/table.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
  projects/quang/loader/loader.component.ts
  projects/quang/overlay/modal/modal.component.ts
  projects/quang/overlay/popover/popover.component.ts
  projects/quang/overlay/toast/toast.component.ts
  projects/quang/overlay/tooltip/tooltip.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 17.1.5
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix: reset errorMessage if there are no validationErrors, improve performance by mapping errors by key
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.8
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(autocomplete): fixed autocomplete sync data
  projects/playground/src/app/pages/components-test-page/autocomplete-test/autocomplete-test.component.html
  projects/playground/src/app/pages/components-test-page/autocomplete-test/autocomplete-test.component.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 17.1.6
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(auth): auth cleanup for angular 19
  projects/quang/auth/auth-providers.ts
  projects/quang/auth/mobile/mobile-auth-feature.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.9
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix: standalone components
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/pages/components-test-page/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-page/components-test-page.component.ts
  projects/playground/src/app/pages/components-test-page/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-page/input-test/input-test.component.ts
  projects/playground/src/app/pages/components-test-page/paginator-test/paginator-test.component.ts
  projects/playground/src/app/pages/components-test-page/select-test/select-test.component.ts
  projects/playground/src/app/pages/components-test-page/table-test/table-test.component.ts
  projects/playground/src/app/pages/components-test-page/toggle-test/toggle-test.component.ts
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: enable when formControl is disabled
  projects/quang/components/wysiwyg/wysiwyg.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 17.1.7
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 19.0.10
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(autocomplete): better mouse handling
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.11
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(select): removed focus on blur
  projects/playground/src/app/pages/components-test-page/select-test/select-test.component.html
  projects/quang/components/select/select.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.12
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(wysiwyg): default tag span
  projects/quang/components/wysiwyg/wysiwyg.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.13
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(wysiwyg): error handling images
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.html
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.14
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(wysiwyg): added onFileDrop input
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.15
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

chore(cleanup): takeUntillDestroyed cleanup logic
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
  projects/quang/components/input/input.component.ts
  projects/quang/components/shared/quang-base-component.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.16
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

chore(prettier): migrate configuration from .prettierrc.js to .prettierrc
  .prettierrc
  .prettierrc.js
Due: none

chore: update .gitignore and .prettierignore, enhance auth service, and adjust Angular build configurations
  .gitignore
  .prettierignore
  angular.json
  eslint.config.mjs
  package-lock.json
  package.json
  projects/quang/auth/auth.service.ts
  projects/quang/components/date/date.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

refactor: remove standalone flag from multiple components and directives
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/pages/components-test-page/auth-test/auth-test.component.ts
  projects/playground/src/app/pages/components-test-page/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-page/components-test-page.component.ts
  projects/playground/src/app/pages/components-test-page/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-page/input-test/input-test.component.ts
  projects/playground/src/app/pages/components-test-page/paginator-test/paginator-test.component.ts
  projects/playground/src/app/pages/components-test-page/select-test/select-test.component.ts
  projects/playground/src/app/pages/components-test-page/table-test/table-test.component.ts
  projects/playground/src/app/pages/components-test-page/toggle-test/toggle-test.component.ts
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
  projects/playground/src/app/pages/orders/order-detail/order-detail.component.ts
  projects/playground/src/app/pages/orders/order-list/order-list.component.ts
  projects/quang/auth/directives/has-at-least-one-role.directive.ts
  projects/quang/auth/directives/has-every-role.directive.ts
  projects/quang/auth/directives/is-authenticated.directive.ts
  projects/quang/auth/directives/is-not-authenticated.directive.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/checkbox/checkbox.component.ts
  projects/quang/components/date/date.component.ts
  projects/quang/components/input/input.component.ts
  projects/quang/components/paginator/paginator.component.ts
  projects/quang/components/select/select.component.ts
  projects/quang/components/shared/option-list/option-list.component.ts
  projects/quang/components/table/table.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
  projects/quang/loader/loader.component.ts
  projects/quang/overlay/modal/modal.component.ts
  projects/quang/overlay/popover/popover.component.ts
  projects/quang/overlay/popover/popover.directive.ts
  projects/quang/overlay/shared/quang-base-overlay.component.ts
  projects/quang/overlay/toast/toast.component.ts
  projects/quang/overlay/tooltip/tooltip.component.ts
  projects/quang/overlay/tooltip/tooltip.directive.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix(wysiwyg): handle for modals and shadow dom
  projects/playground/src/app/app.component.html
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.17
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

test(wysiwyg): resize
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat(package): rename to quang-lib
  docs/v15-17_migration.md
  package-lock.json
  package.json
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.config.ts
  projects/playground/src/app/pages/components-test-page/auth-test/auth-test.component.ts
  projects/playground/src/app/pages/components-test-page/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-page/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-page/input-test/input-test.component.ts
  projects/playground/src/app/pages/components-test-page/paginator-test/paginator-test.component.ts
  projects/playground/src/app/pages/components-test-page/select-test/select-test.component.ts
  projects/playground/src/app/pages/components-test-page/table-test/table-test.component.ts
  projects/playground/src/app/pages/components-test-page/toggle-test/toggle-test.component.ts
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
  projects/quang/auth/auth-providers.ts
  projects/quang/auth/auth.service.ts
  projects/quang/auth/directives/has-at-least-one-role.directive.ts
  projects/quang/auth/directives/has-every-role.directive.ts
  projects/quang/auth/logout-on-error.interceptor.ts
  projects/quang/auth/mobile/mobile-auth-feature.ts
  projects/quang/components/README.md
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/checkbox/checkbox.component.ts
  projects/quang/components/date/date.component.ts
  projects/quang/components/input/input.component.ts
  projects/quang/components/paginator/paginator.component.ts
  projects/quang/components/select/select.component.ts
  projects/quang/components/shared/option-list/option-list.component.ts
  projects/quang/components/table/table.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
  projects/quang/loader/loader-providers.ts
  projects/quang/loader/loader.interceptor.ts
  projects/quang/overlay/README.md
  projects/quang/overlay/popover/popover.component.ts
  projects/quang/overlay/popover/popover.directive.ts
  projects/quang/overlay/tooltip/tooltip.component.ts
  projects/quang/overlay/tooltip/tooltip.directive.ts
  projects/quang/package.json
  projects/quang/translation/translation-providers.ts
  tsconfig.json
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 19.0.18
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(package): rename to quang
  docs/v15-17_migration.md
  package-lock.json
  package.json
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.config.ts
  projects/playground/src/app/pages/components-test-page/auth-test/auth-test.component.ts
  projects/playground/src/app/pages/components-test-page/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-page/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-page/input-test/input-test.component.ts
  projects/playground/src/app/pages/components-test-page/paginator-test/paginator-test.component.ts
  projects/playground/src/app/pages/components-test-page/select-test/select-test.component.ts
  projects/playground/src/app/pages/components-test-page/table-test/table-test.component.ts
  projects/playground/src/app/pages/components-test-page/toggle-test/toggle-test.component.ts
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
  projects/quang/auth/auth-providers.ts
  projects/quang/auth/auth.service.ts
  projects/quang/auth/directives/has-at-least-one-role.directive.ts
  projects/quang/auth/directives/has-every-role.directive.ts
  projects/quang/auth/logout-on-error.interceptor.ts
  projects/quang/auth/mobile/mobile-auth-feature.ts
  projects/quang/components/README.md
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/checkbox/checkbox.component.ts
  projects/quang/components/date/date.component.ts
  projects/quang/components/input/input.component.ts
  projects/quang/components/paginator/paginator.component.ts
  projects/quang/components/select/select.component.ts
  projects/quang/components/shared/option-list/option-list.component.ts
  projects/quang/components/table/table.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
  projects/quang/loader/loader-providers.ts
  projects/quang/loader/loader.interceptor.ts
  projects/quang/overlay/README.md
  projects/quang/overlay/popover/popover.component.ts
  projects/quang/overlay/popover/popover.directive.ts
  projects/quang/overlay/tooltip/tooltip.component.ts
  projects/quang/overlay/tooltip/tooltip.directive.ts
  projects/quang/package.json
  projects/quang/translation/translation-providers.ts
  tsconfig.json
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.0.19-0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(package): rename to quang
  package-lock.json
Due: prettier --write

build(prerelease): version 19.0.19-1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(package): rename to quang
  docs/v15-17_migration.md
  projects/playground/src/app/app.component.ts
  projects/playground/src/app/app.config.ts
  projects/playground/src/app/pages/components-test-page/auth-test/auth-test.component.ts
  projects/playground/src/app/pages/components-test-page/autocomplete-test/autocomplete-test.component.ts
  projects/playground/src/app/pages/components-test-page/date-test/date-test.component.ts
  projects/playground/src/app/pages/components-test-page/input-test/input-test.component.ts
  projects/playground/src/app/pages/components-test-page/paginator-test/paginator-test.component.ts
  projects/playground/src/app/pages/components-test-page/select-test/select-test.component.ts
  projects/playground/src/app/pages/components-test-page/table-test/table-test.component.ts
  projects/playground/src/app/pages/components-test-page/toggle-test/toggle-test.component.ts
  projects/playground/src/app/pages/components-test-page/wysiwyg-test/wysiwyg-test.component.ts
  projects/quang/auth/auth-providers.ts
  projects/quang/auth/auth.service.ts
  projects/quang/auth/directives/has-at-least-one-role.directive.ts
  projects/quang/auth/directives/has-every-role.directive.ts
  projects/quang/auth/logout-on-error.interceptor.ts
  projects/quang/auth/mobile/mobile-auth-feature.ts
  projects/quang/components/README.md
  projects/quang/components/autocomplete/autocomplete.component.ts
  projects/quang/components/checkbox/checkbox.component.ts
  projects/quang/components/date/date.component.ts
  projects/quang/components/input/input.component.ts
  projects/quang/components/paginator/paginator.component.ts
  projects/quang/components/select/select.component.ts
  projects/quang/components/shared/option-list/option-list.component.ts
  projects/quang/components/table/table.component.ts
  projects/quang/components/wysiwyg/wysiwyg.component.ts
  projects/quang/loader/loader-providers.ts
  projects/quang/loader/loader.interceptor.ts
  projects/quang/overlay/README.md
  projects/quang/overlay/popover/popover.component.ts
  projects/quang/overlay/popover/popover.directive.ts
  projects/quang/overlay/tooltip/tooltip.component.ts
  projects/quang/overlay/tooltip/tooltip.directive.ts
  projects/quang/package.json
  projects/quang/translation/translation-providers.ts
  tsconfig.json
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 19.0.19-2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Path conditions:
  ng-lint-staged lint --fix --: (any of: *.ts) or (any of: *.html)
  prettier --write: (((any of: *.ts) or (any of: *.html)) or (any of: *.json)) or (any of: *.scss)
