Repository quix-it/quix-quang: changes, and which lint-staged commands are due for each by the changed paths.
All: ng-lint-staged lint --fix --, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.html": ["ng-lint-staged lint --fix --", "prettier --write"],
  "*.json": "prettier --write",
  "*.scss": "prettier --write"
}

feat(quang-tabs): added tabsOrientation input, documentation update, css fix for button
  CHANGELOG.md
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/examples/tabs-content-orientation-example.component.ts
  projects/playground/src/app/pages/components-test-pages/tabs-test/showcase/tabs-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/tabs-test/showcase/tabs-showcase.component.ts
  projects/quang/components/tabs/README-it.md
  projects/quang/components/tabs/README.md
  projects/quang/components/tabs/tabs.component.html
  projects/quang/components/tabs/tabs.component.scss
  projects/quang/components/tabs/tabs.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(prerelease): version 20.7.2-1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.7.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 21.1.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 20.7.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix: update latest major version to 21 in npm publish script
  scripts/npm-publish.js
Due: none

build(patch): version 20.7.4
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

Auto-generated commit
  404.html
  index.html
  main-DXHMZQ5G.js
  main-JLBAB7AJ.js
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 21.1.2
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat: add tooltip management with click/hover options across components
  projects/playground/src/app/pages/components-test-pages/input-test/input-test.component.html
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
  projects/quang/components/checkbox/checkbox.component.html
  projects/quang/components/checkbox/checkbox.component.scss
  projects/quang/components/date/date.component.html
  projects/quang/components/date/date.component.scss
  projects/quang/components/input/input.component.html
  projects/quang/components/input/input.component.scss
  projects/quang/components/radio-group/radio-group.component.html
  projects/quang/components/radio-group/radio-group.component.scss
  projects/quang/components/radio-group/radio-group.component.ts
  projects/quang/components/select/select.component.html
  projects/quang/components/select/select.component.scss
  projects/quang/components/shared/quang-base-component.directive.ts
  projects/quang/components/wysiwyg/wysiwyg.component.html
  projects/quang/components/wysiwyg/wysiwyg.component.scss
Due: ng-lint-staged lint --fix --, prettier --write

fix(autocomplete): fixed behaviour of autocomplete multiple with allowFreeText flag, added playground example QUANG-267
  CHANGELOG.md
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-multiple-with-free-text-example.component.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/index.ts
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.html
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/showcase/autocomplete-showcase.component.ts
  projects/playground/src/assets/i18n/en.json
  projects/playground/src/assets/i18n/it.json
  projects/quang/components/autocomplete/autocomplete.component.spec.ts
  projects/quang/components/autocomplete/autocomplete.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

fix: added allowFreeText boolean to example
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-multiple-with-free-text-example.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 20.7.5
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 21.1.3
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat: update tooltip management to use helpTooltipPosition and showHelpTooltipMethod across components
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/checkbox/checkbox.component.html
  projects/quang/components/date/date.component.html
  projects/quang/components/input/input.component.html
  projects/quang/components/radio-group/radio-group.component.html
  projects/quang/components/select/select.component.html
  projects/quang/components/shared/quang-base-component.directive.ts
  projects/quang/components/wysiwyg/wysiwyg.component.html
Due: ng-lint-staged lint --fix --, prettier --write

chore: deps update
  package-lock.json
Due: prettier --write

chroe: update cleanup
  package.json
Due: prettier --write

chore: update CHANGELOG for version 20.8.0 and add new tooltip configuration options
  CHANGELOG.md
  package-lock.json
Due: prettier --write

build(minor): version 20.8.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(minor): version 21.2.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

chore: downgrade Angular and related dependencies to version 19.x.x
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

chore: update chokidar and readdirp dependencies in package-lock.json
  package-lock.json
Due: prettier --write

build(minor): version 19.5.0
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

fix(toast): ensure timeout is cleared on toast close
  projects/quang/overlay/toast/toast.service.ts
Due: ng-lint-staged lint --fix --, prettier --write

build(patch): version 20.8.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

build(patch): version 21.2.1
  package-lock.json
  package.json
  projects/quang/package.json
Due: prettier --write

feat(autocomplete): add help message support and adjust styles
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-multiple-example.component.ts
  projects/quang/components/autocomplete/autocomplete.component.html
  projects/quang/components/autocomplete/autocomplete.component.scss
Due: ng-lint-staged lint --fix --, prettier --write

fix(autocomplete): remove hardcoded help message from multiple example
  projects/playground/src/app/pages/components-test-pages/autocomplete-test/examples/autocomplete-multiple-example.component.ts
Due: ng-lint-staged lint --fix --, prettier --write

feat: Implement code changes to enhance functionality and improve performance
  package-lock.json
Due: prettier --write

chore: upgrade Angular and related dependencies to version 22.0.0, update TypeScript to 6.0.3
  package-lock.json
  package.json
Due: prettier --write
